<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <title>Dashboard administrador</title>

    <!-- Estilos generales con Bootstrap -->
    <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet" />

    <!-- Estilos especificos para dashboard -->
    <link href="{{url_for('static', filename='css/dashboard.css')}}" rel="stylesheet" />

    <link href="{{url_for('static', filename='css/detalleactividad.css')}}" rel="stylesheet" />
  </head>

  <body>
    
    <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
      <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="http://127.0.0.1:5000/actividades">Control de notas EIA</a>
      <div class="navbar-nav">
        <div class="nav-item text-nowrap">
          <a class="nav-link px-3" href="#">Cerrar sesión</a>
        </div>
      </div>
    </header>

  <ul class="list-unstyled" style="left: 100px">
  <li class="media">
    <img class="mr-3" src="{{url_for('static', filename='images/actividad2.png')}}" align="right" alt="" width="72" height="65" style="right:100px">
    <div class="media-body">
      <h4 class="mt-0 mb-1" style="position: absolute;left: 250px;top: 90px;  background-color: #ccd4da; padding: 12px;">01-Programacion Orientada a Obj I</h4>
         <h5 class="mt-0 mb-1" style="position: absolute;left: 250px;top: 150px;">Diagrama UML</h5>
             <h6 class="mt-0 mb-1" style="position: absolute;left: 250px;top: 190px;">Descripción:</h6>
                 <h7 class="mt-0 mb-1" style="position: absolute;left: 250px;top: 230px;">En la siguiente actividad se deberá realizar el diagrama UML del sistema de inventario de la panadería...</h7>
    <i style="font-size:24px" class="fa">&#xf093;</i>

<form style="position: absolute;left: 250px;top: 280px;" action="/action_page.php">
  <input type="file" id="myFile" name="filename" >
  <br></br>
  <button type="submit" class="enviar">Enviar actividad</button>
  <button type="cancel" class="cancelar" onclick="https://www.EIA.edu.co/actividades">Cancelar</button>
</form>

    </div>
</ul>  

    
    <div class="container-fluid">
      <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
          <div class="position-sticky pt-3">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="#">
                  <span data-feather="home"></span>
                  Dashboard
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="users"></span>
                  Perfil
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="#">
                  <span data-feather="book"></span>
                  Cursos
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="http://127.0.0.1:5000/actividades">
                  <span data-feather="repeat"></span>
                  Actividades
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="check-square"></span>
                  Calificaciones
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="calendar"></span>
                  Calendario
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="message-square"></span>
                  Mensajes
                </a>
              </li>
            </ul>
      </div>
    </div>
        <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"></script>
        <script src="{{url_for('static', filename='js/dashboard.js')}}"></script>
      </body>
    </html>
