<!DOCTYPE html>
<html lang="en">
<!--encabezado-->
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <title>Detalle Notas Asignaturas</title>

    <!-- Estilos generales con Bootstrap -->
    <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet" />

    <!-- Estilos especificos para dashboard -->
    <link href="{{url_for('static', filename='css/dashboard.css')}}" rel="stylesheet" />
  </head>

<body>
    <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
      <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">Control de notas EIA</a>
      <div class="navbar-nav">
        <div class="nav-item text-nowrap">
          <a class="nav-link px-3" href="#">Cerrar sesión</a>
        </div>
      </div>
    </header>
    
    <div class="container-fluid"> 
      <div class="row">  
          <!--barra de navegación-->
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse"> 
          <div class="position-sticky pt-3">  
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="#">
                  <span data-feather="home"></span>
                  Dashboard
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="users"></span>
                  Perfil
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="#">
                  <span data-feather="book"></span>
                  Cursos
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="repeat"></span>
                  Actividades
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="check-square"></span>
                  Calificaciones
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="calendar"></span>
                  Calendario
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="message-square"></span>
                  Mensajes
                </a>
              </li>
            </ul>
      </div>
      </nav>
      </div>

<!--contenido principal-->
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">Detalle Calificaciones</h1>
      <a href="http://localhost:5000/notas">¡Regresar a global curso!</a>
      <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group me-2">
          <button type="button" class="btn btn-sm btn-outline-secondary">Descargar</button>
          <button type="button" class="btn btn-sm btn-outline-secondary">Exportar</button>
        </div>
        <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
          <span data-feather="calendar"></span>
          Ciclo
        </button>
      </div>
    </div>


<!--tabla para mostrar las asignaturas-->

<h2>Asignaturas</h2>
<div class="bd-example">
  <table class="table">
      <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Asignatura</th>
      <th scope="col">Nota 1</th>
      <th scope="col">Nota 2</th>
      <th scope="col">Nota 3</th>
      <th scope="col">Nota 4</th>
      <th scope="col">Nota 5</th>
      <th scope="col">Nota 6</th>
      <th scope="col">Nota 7</th>
      <th scope="col">Nota 8</th>
      <th scope="col">Nota Final</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Fundamentos de Programación</td>
      <td>5.0</td>
      <td>5.0</td>
      <td>5.0</td>
      <td>5.0</td>
      <td>5.0</td>
      <td>5.0</td>
      <td>5.0</td>
      <td>5.0</td>
      <td>5.0</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Basic English Reading Skills for Programing</td>
      <td>5.0</td>
      <td>4.7</td>
      <td>4.6</td>
      <td>4.8</td>
      <td>4.7</td>
      <td>4.4</td>
      <td>4.5</td>
      <td>4.8</td>
      <td>4.8</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Coaching</td>
      <td>5.0</td>
      <td>4.7</td>
      <td>4.6</td>
      <td>4.8</td>
      <td>4.7</td>
      <td>4.4</td>
      <td>4.5</td>
      <td>4.8</td>
      <td>4.7</td>
    </tr>
  </tbody>
  </table>
</div>

  </main>
</div>
</div>


        <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"></script>
        <script src="{{url_for('static', filename='js/dashboard.js')}}"></script>

</body>
</html>