<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <title>Notas Cursos</title>

    <!-- Estilos generales con Bootstrap -->
    <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet" />

    <!-- Estilos especificos para dashboard -->
    <link href="{{url_for('static', filename='css/dashboard.css')}}" rel="stylesheet" />
  </head>

  <body>
    <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
      <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">Control de notas EIA</a>
      <div class="navbar-nav">
        <div class="nav-item text-nowrap">
          <a class="nav-link px-3" href="#">Cerrar sesión</a>
        </div>
      </div>
    </header>
    
    <div class="container-fluid"> 
      <div class="row">  
          <!--barra de navegación-->
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse"> 
          <div class="position-sticky pt-3">  
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="#">
                  <span data-feather="home"></span>
                  Dashboard
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="users"></span>
                  Perfil
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="#">
                  <span data-feather="book"></span>
                  Cursos
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="repeat"></span>
                  Actividades
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="check-square"></span>
                  Calificaciones
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="calendar"></span>
                  Calendario
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="message-square"></span>
                  Mensajes
                </a>
              </li>
            </ul>
      </div>
      </nav>
      </div>


<!--contenido principal-->
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">Calificaciones</h1>
      <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group me-2">
          <button type="button" class="btn btn-sm btn-outline-secondary">Descargar</button>
          <button type="button" class="btn btn-sm btn-outline-secondary">Exportar</button>
        </div>
        <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
          <span data-feather="calendar"></span>
          Ciclo
        </button>
      </div>
    </div>



    <h2>Cursos</h2>
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Curso</th>
            <th scope="col">Ciclo</th>
            <th scope="col">Promedio</th>
            <th scope="col">Detalle</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1,001</td>
            <td>Programación Básica</td>
            <td>1</td>
            <td>5.0</td>
            <td><a href="http://localhost:5000/notas/detalle">¡Detalle asignaturas!</a></td>
          </tr>
          <tr>
            <td>1,002</td>
            <td>Programación orientada a objetos</td>
            <td>2</td>
            <td>4.0</td>
            <td>layout</td>
          </tr>
          <tr>
            <td>1,003</td>
            <td>Desarrollo WEB con HTML, CSS y JavaScript</td>
            <td>3</td>
            <td>4.5</td>
            <td>tabular</td>
          </tr>
          <tr>
            <td>1,003</td>
            <td>Desarrollo de aplicaciones con Flask</td>
            <td>3</td>
            <td>5.0</td>
            <td>data</td>
          </tr>
            <tr>
            <td>1,009</td>
            <td>Metodologías ágiles</td>
            <td>3</td>
            <td>5.0</td>
            <td>layout</td>
          </tr>
          <tr>
            <td>1,004</td>
            <td>Construcción de modelos de Machine Learning</td>
            <td>4</td>
            <td>5.0</td>
            <td>dashboard</td>
          </tr>
          <tr>
            <td>1,005</td>
            <td>Computación en la nube</td>
            <td>5</td>
            <td>4.5</td>
            <td>placeholder</td>
          </tr>
          <tr>
            <td>1,006</td>
            <td>Despliegue de modelos de machine learning</td>
            <td>6</td>
            <td>4.8</td>
            <td>data</td>
          </tr>
          <tr>
            <td>1,007</td>
            <td>Integración de herramientas y modelos</td>
            <td>7</td>
            <td>4.3</td>
            <td>irrelevant</td>
          </tr>
          <tr>
            <td>1,008</td>
            <td>Soluciones de Inteligencia Artificial</td>
            <td>8</td>
            <td>4.7</td>
            <td>text</td>
          </tr>
          <tr>
            <td>1,010</td>
            <td>SCRUM master</td>
            <td>8</td>
            <td>5.0</td>
            <td>tabular</td>
          </tr>
          <tr>
            <td>1,011</td>
            <td>Transformación Digital</td>
            <td>9</td>
            <td>4.8</td>
            <td>data</td>
          </tr>
          <tr>
            <td>1,012</td>
            <td>Emprendimiento</td>
            <td>9</td>
            <td>4.5</td>
            <td>dashboard</td>
          </tr>
          <tr>
            <td>1,013</td>
            <td>Comercio electrónico</td>
            <td>10</td>
            <td>4.7</td>
            <td>visual</td>
          </tr>
          <tr>
            <td>1,014</td>
            <td>Servicios Freelance</td>
            <td>11</td>
            <td>4.2</td>
            <td>data</td>
          </tr>
          <tr>
            <td>1,015</td>
            <td>Diseño UX</td>
            <td>12</td>
            <td>4.2</td>
            <td>text</td>
          </tr>
        </tbody>
      </table>
    </div>
  </main>
</div>
</div>


        <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"></script>
        <script src="{{url_for('static', filename='js/dashboard.js')}}"></script>
      </body>
    </html>