<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <title>Dashboard administrador</title>

    <!-- Estilos generales con Bootstrap -->
    <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet" />

    <!-- Estilos especificos para dashboard -->
    <link href="{{url_for('static', filename='css/actividades.css')}}" rel="stylesheet" />
  </head>

  <body>
    
    <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
      <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="http://127.0.0.1:5000/pagprincipaladmin">Control de notas EIA</a>
      <div class="navbar-nav">
        <div class="nav-item text-nowrap">
          <a class="nav-link px-3" href="#">Cerrar sesión</a>
        </div>
      </div>
    </header>

    
    <a 
    href="http://127.0.0.1:5000/edicion" class="boton3">Editar Usuarios
    </a>

    
    <a 
    href="/matricular_usuarios" class="botonmatricula">Matricular Usuarios
    </a>

    <h4 style="position: absolute;left: 250px;top: 100px;">Usuarios</h4>
    <div class="cuadro" style="margin-top:110px;" >Estudiantes
    <a href="http://127.0.0.1:5000/busquedaestudiantes">
    <img src="{{url_for('static', filename='images/lupa2.png')}}" width="50" height="50" alt="Klematis"></a>
        </div>
    <div class="cuadro" style="margin-top:70px;">Docentes
     <a href="http://127.0.0.1:5000/busquedadocentes">
        <img src="{{url_for('static', filename='images/lupa2.png')}}" width="50" height="50" alt="Klematis"></a>
    </div>
    
    <div class="container-fluid">
      <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
          <div class="position-sticky pt-3">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="#">
                  <span data-feather="home"></span>
                  Dashboard
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="users"></span>
                  Perfil
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="/busquedacurso">
                  <span data-feather="book"></span>
                  Cursos
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/actividades">
                  <span data-feather="repeat"></span>
                  Actividades
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="check-square"></span>
                  Calificaciones
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="calendar"></span>
                  Calendario
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="message-square"></span>
                  Mensajes
                </a>
              </li>
            </ul>
      </div>
    </div>
        <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"></script>
        <script src="{{url_for('static', filename='js/dashboard.js')}}"></script>
      </body>
    </html>