<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <title>Registro</title>

    <!-- Estilos generales con Bootstrap -->
    <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet" />

    <!-- Estilos especificos para formulario de registro -->
    <link href="{{url_for('static', filename='css/form-validation.css')}}" rel="stylesheet" />
  </head>

  <body class="bg-light">
    
    <div class="container">
      <main>
        <div class="py-5 text-center">
          <img class="d-block mx-auto mb-4" src="{{url_for('static', filename='images/users-logo.svg')}}" alt="" width="72" height="57">
          <h2>Registro usuarios</h2>
        </div>
    
          <div class="">
            <form class="needs-validation" novalidate>
              <div class="row g-3">
                <div class="col-sm-6">
                  <label for="firstName" class="form-label">Nombres</label>
                  <input type="text" class="form-control" id="name" placeholder="" value="" required>
                  <div class="invalid-feedback">
                    Nombres es un dato obligatorio.
                  </div>
                </div>
    
                <div class="col-sm-6">
                  <label for="lastName" class="form-label">Apellidos</label>
                  <input type="text" class="form-control" id="lastname" placeholder="" value="" required>
                  <div class="invalid-feedback">
                    Apellidos es un dato obligatorio.
                  </div>
                </div>
    
                <div class="col-sm-6">
                  <label for="username" class="form-label">Usuario</label>
                  <div class="input-group has-validation">
                    <span class="input-group-text">@</span>
                    <input type="text" class="form-control" id="user" placeholder="ID Usuario" required>
                  <div class="invalid-feedback">
                      Your username is required.
                    </div>
                  </div>
                </div>
    
                <div class="col-sm-6">
                  <label for="email" class="form-label">Email</label>
                  <input type="email" class="form-control" id="email" placeholder="usuario@ejemplo.com" required>
                  <div class="invalid-feedback">
                    El email es requerido.
                  </div>
                </div>
    
                <div class="col-sm-6">
                    <label for="country" class="form-label">Perfil</label>
                    <select class="form-select" id="profile" required>
                      <option value="">Elegir...</option>
                      <option>Administrador</option>
                      <option>Estudiante</option>
                      <option>Profesor</option>
                    </select>
                    <div class="invalid-feedback">
                      Por favor seleccione un perfil valido.
                    </div>
                  </div>
    
                <div class="col-sm-6">
                  <label for="address2" class="form-label">Pregrado</label>
                  <input type="text" class="form-control" id="grade" placeholder="Ingenieria sistemas">
                </div>
    
                <div class="col-sm-6">
                    <label for="address2" class="form-label">Fecha de nacimiento</label>
                    <input type="date" class="form-control" id="birth-date" >
                  </div>
    
                  <div class="col-sm-6">
                    <label for="country" class="form-label">País</label>
                    <select class="form-select" id="country">
                      <option value="">Elegir...</option>
                      <option>Colombia</option>
                    </select>
                  </div>
    
              <hr class="my-4">
    
              <button class="w-100 btn btn-primary btn-lg" type="submit">Guardar datos</button>
              <ul class="list-inline text-center">
                <li class="list-inline-item"><a href="{{url_for('login')}}">Inicio</a></li>
              </ul>
            </form>
          </div>

        </div>

      </main>
    
      <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; MinTIC 2021 - Equipo 27 - 8</p>
      </footer>
    </div>
          <script src="{{url_for('static', filename='js/form-validation.js')}}"></script>
      </body>
    </html>